@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto'
}

table th,
table td {
    text-align: center;
}

.vertical-table {
    margin: 0 auto;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.vertical-table .product-item {
	position: relative;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.vertical-table .header,
.vertical-table .data {
	width: 50%;
	float: left;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #ddd;
	border-bottom: none;
	border-right: none;
    word-break: break-all;
}

.vertical-table .header {
    background-color: #eee;
    font-weight: 600;
	text-align: left;
}

.table tbody tr td,
.table tbody tr th,
.table tfoot tr td,
.table tfoot tr th,
.table thead tr td,
.table thead tr th {
    vertical-align: middle;
}